<!DOCTYPE html>
<html lang="ko" id="facebook" class="">
  <head>
    <!-- 제목 : 상단 탭에 표시 됨 -->
    <title id="pageTitle">Facebook - 로그인 또는 가입</title>
    
    <!-- 메타 정보 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"/>
    <meta property="og:site_name" content="Facebook"/>
    <meta property="og:url" content="https://ko-kr.facebook.com/"/>
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"/>
    <meta property="og:locale" content="ko_KR"/>
    <meta name="description" content="Facebook에 로그인하세요. 친구, 가족, 지인들과 함께 하는 즐거운 Facebook 생활이 시작됩니다."/>
    
    <!-- 링크 -->
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/"/>
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"/>
  </head>
  <body>
    <img src="../images/facebook-logo.svg" width="200px">
    <h2>Facebook에서 전세계에 있는 친구, 가족, 지인들과 함께 이야기를 나눠보세요.</h2>
    <form action="./02_facebook_main.html" method="GET">
        <div>
            <input type="text" name="email" placeholder="이메일 또는 전화번호" autofocus="1" />
        </div>
        <div>
            <input type="password" name="pass" placeholder="비밀번호"/>
        </div>
        <div>
            <button value="1" name="login" type="submit">로그인</button>
        </div>
        <div>
            <a href="./03_facebook_identify.html">비밀번호를 잊으셨나요?</a>
        </div>
        <div>
            <a href="./04_facebook_regist.html">새 계정 만들기</a>
        </div>
    </form>

    <div>
        <span>유명인, 브랜드 또는 비즈니스를 위한</span>
        <a href="./05_facebook_create.html">페이지 만들기</a>
    </div>

    <div>
        <span>Meta © 2022</span>
    </div>
  </body>
</html>