<!DOCTYPE html>
<html lang="ko" id="facebook" class="">
  <head>
    <!-- 제목 : 상단 탭에 표시 됨 -->
    <title id="pageTitle">Facebook - 로그인 또는 가입</title>
    
    <!-- 메타 정보 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"/>
    <meta property="og:site_name" content="Facebook"/>
    <meta property="og:url" content="https://ko-kr.facebook.com/"/>
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"/>
    <meta property="og:locale" content="ko_KR"/>
    <meta name="description" content="Facebook에 로그인하세요. 친구, 가족, 지인들과 함께 하는 즐거운 Facebook 생활이 시작됩니다."/>
    
    <!-- 링크 -->
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/"/>
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"/>
  </head>
  <body>
    <div>
      <img src="../images/facebook-logo.svg" width="200px"/>
    </div>

    <form action="" method="post" onsubmit="">
      <div>
        <h2>내 계정 찾기</h2>
      </div>
      <div>
        <table>
          <tr>
            <td></td>
            <td>계정을 검색하려면 이메일 주소 또는 휴대폰 번호를 입력하세요.</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="text" name="email" placeholder="이메일 또는 휴대폰 번호" autofocus="1"/>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div>
        <a role="button" href="./01_facebook_index.html">취소</a>
        <button value="200" type="submit">검색</button>
      </div>
    </form>
  </body>
</html>