<!DOCTYPE html>
<html lang="ko" id="facebook" class="">
  <head>
    <!-- 제목 : 상단 탭에 표시 됨 -->
    <title id="pageTitle">Facebook - 로그인 또는 가입</title>
    
    <!-- 메타 정보 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"/>
    <meta property="og:site_name" content="Facebook"/>
    <meta property="og:url" content="https://ko-kr.facebook.com/"/>
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"/>
    <meta property="og:locale" content="ko_KR"/>
    <meta name="description" content="Facebook에 로그인하세요. 친구, 가족, 지인들과 함께 하는 즐거운 Facebook 생활이 시작됩니다."/>
    
    <!-- 링크 -->
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/"/>
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"/>
  </head>
  <body>
    <img src="../images/facebook-logo.svg" width="200px" />

    <table cols="2" spacing="prl" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td>
            <div>
              <div>
                <div>페이지 만들기</div>
                <div>비즈니스, 본인 또는 비영리 단체를 나타내는 페이지를 만들어 전 세계 사람들과 소통해보세요. 시작하려면 페이지 카테고리를 선택하세요.</div>
              </div>
              <div>
                <img src="../images/biz_illustration.png" alt="" />
                <div>
                  <span>비즈니스 또는 브랜드</span>
                  <span>Facebook에서 제품 및 서비스를 선보이고 브랜드를 강조하며 더 많은 고객에게 도달해보세요.</span>
                </div>
                <div>
                  <button type="button" aria-disabled="false">동의하고 시작하기</button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div>
              <img src="../images/community_illustration.png" alt=""/>
              <div>
                <span>커뮤니티 또는 공인</span>
                <span>커뮤니티, 단체, 팀, 그룹 또는 클럽의 사람들과 교류하고 공유해보세요.</span>
              </div>
              <div>
                <button type="button" aria-disabled="false" >동의하고 시작하기</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>