@media (max-width: 800px) {
    * { padding: 0; margin: 0; }
    body {
        overflow: hidden;
        overflow-y: auto;
        background-color: white;
    }
    .card-box {
        box-shadow: none;
    }
    .card-box > .head {
        border-bottom: 0;
    }
    .card-box > .body td div {
        font-size: 14px;
    }
    .card-box > body .in-box {
        font-size: 14px;
    }
    .card-box > .foot {
        border-top: 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}