<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", inital-scale="1">

        <!-- Bootstrap CSS -->
        <link
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="stylesheets/style.css" />
        <script src="javascripts/main.js" defer></script>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="logo-box-main">
                    <img class="logo" src="images/logo.png" alt="logo" />
                </div>
                <div class="user-frame">
                    <span id="name" class="user-name">사용자 이름</span>
                    <button type="button" id="logout-btn" class="logout-btn">로그아웃</button>
                </div>
            </header>
        </div>
    </body>
</html>

<script>
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="annoymous"
</script>