.container {
  display: grid;
  padding: 10px;
  /* grid-template-columns: repeat(5, 20%); 5번을 반복할 건데 100px로 */
  grid-template-columns: repeat(5, 1fr);
  /* grid-auto-rows: 150px; 모든 줄의 row를 150px로 */
  grid-auto-rows: minmax(150px, auto); /* 최소 150px로 하는데 길어지면 맞춰서 */
  grid-gap: 10px;
}

.item2 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}
