<!DOCTYPE html>
<html lang="ko" id="facebook" class="">
  <head>
    <!-- 제목 : 상단 탭에 표시 됨 -->
    <title id="pageTitle">Facebook - 로그인 또는 가입</title>
    
    <!-- 메타 정보 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"/>
    <meta property="og:site_name" content="Facebook"/>
    <meta property="og:url" content="https://ko-kr.facebook.com/"/>
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"/>
    <meta property="og:locale" content="ko_KR"/>
    <meta name="description" content="Facebook에 로그인하세요. 친구, 가족, 지인들과 함께 하는 즐거운 Facebook 생활이 시작됩니다."/>
    
    <!-- 링크 -->
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/"/>
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"/>

    <!-- viewport -->
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <!-- 먼저 기존의 css를 우선으로 링크하자 -->
    <link rel="stylesheet" type="text/css" href="../css/04.regist.css">
    <!-- 반응형 css 파일을 링크하자 -->
    <link rel="stylesheet" type="text/css" href="../css/14.regist.css">
  </head>
  <body>
    <!-- 중앙 정렬 컨테이너 박스 -->
    <div class="container">
      <!-- 상단 로고 이미지 -->
      <div class="logo">
        <img src="../images/facebook-logo.svg" />
      </div>
      <!-- 카드형 박스 -->
      <div class="card">
        <!-- 박스 헤더 -->
        <div class="header">
          <div class="title">새 계정 만들기</div>
          <div class="subject">빠르고 쉽습니다.</div>
        </div>
        <!-- 박스 콘텐츠 -->
        <div class="body">
          <!-- 성명 입력 폼 -->
          <div class="in-name">
            <div><input id="lastname" type="text" name="lastname" placeholder="성(姓)"/></div>
            <div><input id="firstname" type="text" name="firstname" placeholder="이름(성은 제외)"/></div>
          </div>
          <!-- 휴대폰 및 비밀번호 폼 -->
          <div class="in-info">
            <div><input id="email" type="text" name="reg_email" placeholder="휴대폰 번호 또는 이메일"/></div>
            <div><input id="password" type="password" name="reg_pass" placeholder="새 비밀번호" /></div>
          </div>
          <!-- 생년월일 -->
          <div class="in-age">
            <div class="text">생일</div>
            <div>
              <!-- 년도 -->
              <select id="year" placeholder="연도" name="birthday_year" title="연도">
                <option value="2022" selected="1">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2010">....</option>
                <option value="1905">1900</option>
              </select>
              <!-- 월 -->
              <select id="month" placeholder="월" name="birthday_month" title="월">
                <option value="1" selected="1">1월</option>
                <option value="2">2월</option>
                <option value="3">3월</option>
                <option value="12">12월</option>
              </select>
              <!-- 일 -->
              <select id="day" placeholder="일" name="birthday_day" title="일">
                <option value="1" selected="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="31">31</option>
              </select>
            </div>
          </div>
          <!-- 성별 -->
          <div class="in-type">
            <div class="text">성별</div>
            <span>
              <span class="in-rdo">
                <label for="rdo-1">여성</label>
                <input class="gender" id="rdo-1" type="radio" name="sex" value="1" />
              </span>
              <span class="in-rdo">
                <label for="rdo-2">남성</label>
                <input class="gender" id="rdo-2" type="radio" name="sex" value="2" />
              </span>
              <!-- 제 3의 성(?) -->
              <span class="in-rdo">
                <label for="rdo-3">개인 지정</label>
                <input class="gender" id="rdo-3" type="radio" name="sex" value="-1" />
              </span>
            </span>
          </div>
          <!-- 하단의 가이드 -->
          <div class="guide">
            가입하기 버튼을 클릭하면 Facebook의 약관, 데이터 정책 및 쿠키 정책에 동의하게 됩니다. Facebook으로부터 SMS 알림을 받을 수 있으며 알림은 언제든지 옵트 아웃할 수 있습니다.
          </div>
          <!-- 가입하기 버튼 -->
          <div class="regist">
            <!-- 버튼을 누르면 regist() 함수 호출 -->
            <button onclick="regist()">가입하기</button>
          </div>
          <!-- 로그인 페이지 이동 -->
          <div class="login">
            <a href="./01_facebook_index.html" aria-label="이미 계정이 있으신가요?">이미 계정이 있으신가요?</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="../js/04_regist.js"></script>
<script src="../js/04_regist_req.js"></script>