<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", inital-scale="1">

        <!-- Bootstrap CSS -->
        <link
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="stylesheets/style.css" />
        <script src="javascripts/login.js" defer></script>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="logo-box">
                    <img class="logo" src="images/logo.png" alt="logo" />
                </div>
            </header>
            <main>
                <div class="mb-3">
                    <input type="email" class="form-control" id="id" placeholder="아이디를 입력하세요">
                    <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
                </div>
                <div>
                    <button id="login-btn" class="login-btn">로그인</button>
                    <hr class="underline"/>
                    <button id="signup-go-btn" class="signup-go-btn">회원가입</button>
                </div>
            </main>
        </div>
    </body>
</html>

<script>
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="annoymous"
</script>