* {
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    border-bottom: 1px solid rgb(200, 200, 200);
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

header > a {
    padding: 5px 30px;
    text-decoration: none;
    cursor: pointer;
}

header > a:hover {
    color: blue;
    text-decoration: underline;
}

main {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    min-height: 600px;
}

.input-email {
    margin-top: 100px;
}

.input-email, .input-password {
    width: 100%;
    height: 48px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.input-email:focus, .input-password:focus {
    outline: none !important; /*눌렀을 때 아웃라인을 없애기*/
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2; /*cursor 컬러*/ 
}

.div-line {
    border-bottom: 1px solid #dadde1;
    width: 100%;
    margin: 20px 0;
}

main span {
    margin-top: 12px;
    display: block;
    color: #1877f2;
    font-size: 14px;
    cursor: pointer;
}

main span:hover {
    text-decoration: underline;
}

.login-button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    background-color: #1877f2;
    font-weight: 700;
    color: white;
}

body {
    background-color: #f0f2f5;
}

main .list { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

main .container {
    height: 2000px;
    width: 1000px;
    margin:10px auto;
}

main .container li {
    width: 25%;
    min-width: 25%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0;
}

main .card {
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

main .card > img {
    height: 140px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

main .card button {
    height: 40px;
    width: 80%;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10%;
    position: absolute;
    bottom: 10px;
}

main .card .text {
    padding: 5px 20px;
}

main .card .text .title {
    color: black;
    font-size: 16px;
    display: block;
}

main .card .text .label {
    color: rgb(160, 160, 160);
    font-size: 14px;
    display: block;
}

main .card .btn-box {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(80, 80, 80, 0.2);
    border-radius: 30px;
    position: absolute;
    right: 0px;
    top: 5px;
}

main .card .btn-box:hover {
    background-color: rgba(80, 80, 80, 0.5);
    cursor: pointer;
}
 
main .card .btn-box img {
    height: 16px;
}